{% extends "base.html" %}
{% load static %}
{% block content %}
<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-10">
                {% if searched %}
                    {% for item in searched %}
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product video-->
                                <video class="card-img-top" src="{{ item.video.url }}"></video>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ item.name }}</h5>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'video' item.id %}">open video</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </center>
    </div>
</div>
<br><br><br><br><br><br>
{% endblock %}