{% extends "base.html" %}
{% load static %}
{% block content %}
<br><br>
<center>
<div class="container">
    <div class="card" style="width: 50rem;">
        <div class="container mt-5">
            <div class="ratio ratio-16x9">
                <video controls>
                <source src="{{ video.video.url }}" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ video.name }}</h5>
            <p class="card-text">{{ video.description }}</p>
            <a href="{% url 'home' %}" class="btn btn-primary">home</a>
        </div>
    </div>
</div>
</center>

{% endblock %}